# Python
__pycache__/
*.py[cod]
*.so
venv/
.env
*.csv
*.db
*.pkl

# Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.swp
